.movies-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding: 0 40px;
  color: #ccc;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.movies-title {
  margin: 0;
  align-self: flex-start;
  font-size: 60px;
  line-height: 1;
  font-family: 'Amatic SC', cursive;
  color: #cc9387;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

@media screen and (min-width: 540px) {
  .movies {
    justify-content: space-between;
    align-items: center;
  }
}
