* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background: url(./img/cinema.jpg);
  background-color: rgba(21, 21, 21, 1);
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Merriweather', serif;

  overflow-x: hidden;
}
