* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background: url(./img/cinema.jpg);
  background-size: contain;
  background-attachment: fixed;

  font-family: 'Roboto', serif;
  color: #fff;

  overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
